examples/automatic-build/schemas/bystrotex.rnc

element config {
   element scribblings {
      element scribbling {
         element name { text },
         element formulas-dir { text }?,
         element sqlite-file  { text }?,
         element args {
            (element value { 
               attribute key { text },
               text
            }
             | element flag { text })+
         }?,
         (element multipage { empty } 
          | (element dest { text }?))
      }*
   }*
}

